/*---------------------------
 ** CSS Reset
-----------------------------*/
/* See https://piccalil.li/blog/a-modern-css-reset/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  font-size: 0.75rem;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

@media screen and (min-width: 62.5rem) {
  body {
    padding: 10rem 18.3rem;
  }
}
.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* MAIN */
.main-container {
  max-width: 63.75rem;
  margin: 0 auto;
}

.faq-container {
  position: relative;
}

@media screen and (min-width: 62.5rem) {
  .faq-container {
    width: 80%;
  }
}
.box-image-container {
  display: none;
}

@media screen and (min-width: 62.5rem) {
  .box-image-container {
    display: block;
    position: absolute;
    left: -5.8125rem;
    top: 12.75rem;
    z-index: 3;
  }
}
.card {
  border-radius: 1.5rem;
  background: white;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1.875rem 1.875rem -0.625rem;
  position: relative;
  margin-top: 6.5625rem;
}

@media screen and (min-width: 62.5rem) {
  .card {
    overflow: hidden;
    margin-top: 0;
    width: 55rem;
  }
}
.faq-illustration,
.faq-background-pattern {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14.75rem;
}

@media screen and (min-width: 62.5rem) {
  .faq-illustration,
  .faq-background-pattern {
    transform: none;
  }
}
.faq-illustration {
  top: -6.625rem;
  z-index: 2;
}

@media screen and (min-width: 62.5rem) {
  .faq-illustration {
    left: -5.25rem;
    top: 4.375rem;
    width: 52%;
  }
}
.faq-background-pattern {
  top: 0;
  z-index: 0;
}

@media screen and (min-width: 62.5rem) {
  .faq-background-pattern {
    left: -33.125rem;
    top: -16.4375rem;
    width: 100%;
  }
}
.faq-content {
  padding: 8rem 1.5rem 3rem 1.5rem;
  width: 100%;
}

@media screen and (min-width: 62.5rem) {
  .faq-content {
    margin-left: auto;
    padding: 2rem 3rem 5rem 0.5rem;
    width: 50%;
  }
}
.faq-title {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}

@media screen and (min-width: 62.5rem) {
  .faq-title {
    text-align: left;
  }
}
.questions-container {
  gap: 0.5rem;
}

.item[open] .question {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.item {
  display: block;
  padding: 0.9375rem 0;
  font-size: 0.8rem;
  border-bottom: 0.083rem solid hsl(240, 5%, 91%);
}

@media screen and (min-width: 62.5rem) {
  .item {
    padding: 0.9375rem 0.9375rem 0.9375rem 0;
  }
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
  list-style: none;
}

.question::marker {
  content: "";
}

.question::after {
  content: url("../images/icon-arrow-down.svg");
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.answer {
  color: hsl(240, 6%, 50%);
  margin: 0.5rem 0 0.1875rem;
  padding-right: 1.25rem;
  font-size: 0.7rem;
}

/* CONTENTINFO */
.attribution {
  font-size: 0.917rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution-link {
  color: hsl(228, 67%, 12%);
}/*# sourceMappingURL=styles.css.map */