/*---------------------------
 ** CSS Reset
-----------------------------*/
/* See https://piccalil.li/blog/a-modern-css-reset/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  padding: 10rem 1.5rem;
  font-size: 0.75rem;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

@media screen and (min-width: 62.5rem) {
  body {
    padding: 10rem 18.3rem;
  }
}
.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.card {
  border-radius: 1.5rem;
  background: white;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 1.5rem 1.5rem 4rem;
}

@media screen and (min-width: 62.5rem) {
  .card {
    background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
    background-position: -18.5% 47%, -35rem -20rem;
    background-repeat: no-repeat, no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 150rem;
    padding: 4rem;
  }
}
.image-container {
  position: relative;
}

.image-container:first-child {
  position: absolute;
  width: 15rem;
  top: 3rem;
  left: 4.3rem;
}

@media screen and (min-width: 62.5rem) {
  .image-container:first-child {
    position: absolute;
    width: 15rem;
    top: 20rem;
    left: 12.5rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .faq-container {
    grid-column: 2;
    width: 80%;
    gap: 2rem;
    padding: 1rem;
  }
}
.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 6rem;
}

@media screen and (min-width: 62.5rem) {
  .faq-title {
    text-align: left;
    margin-top: 0;
  }
}
.questions-container {
  gap: 0.5rem;
}

details[open] summary {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.item {
  grid-template-columns: 90% 10%;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.question::marker {
  content: "";
}

.question::after {
  content: url("../images/icon-arrow-down.svg");
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.answer {
  color: hsl(240, 6%, 50%);
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.line-break {
  width: 100%;
  opacity: 0.2;
}

.attribution {
  font-size: 0.917rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution-link {
  color: hsl(228, 67%, 12%);
}/*# sourceMappingURL=styles.css.map */